<html>
    <head>
        <title>Add Participant</title>
    </head>
    <body>
        
        {% if page_type == 'new' %}
        
        <h1>Add Participant</h1>
        <form action="{{action}}" method="post">
            <label for="dropdown">Add Participant:</label>
        
                <select id="dropdown" name="student">
                {% for student in students %}
                    <option value="{{student['student_id']}}">
                    {{student['name']}}{{student['student_id']}}
                    </option>
                {% endfor %}
                </select>
            <input type='hidden' value="{{activity_id}}" name="activity_id">
            <input type="submit" value="Add Participant">
        </form>
        
        {% elif page_type == 'success' %}

        <h2>Success!</h2>

        <p>{{student['name']}} has been added</p>

        <a href="/activities">Activity Page</a><br />
        <a href="/">Home Page</a><br />
        
        {% endif %}
        
    </body>
</html>
