<html>
    <head>
        <title>Add {{Participant}}</title>
    </head>
    <body>
        <h1>Add {{Participant}}</h1>
        <form>
        <label for="dropdown">Add {{participant}}:</label>
        
        <select id="dropdown" name="student">
            {% for item in items %}
                <option value="activity['id']">
                    {{item['name']}}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Add {{participant}}">
        </form>
    </body>
</html>