<html>
    {% if picked == 'no' %}
    <head>
        <title>All Clubs</title>
        
    </head>
    <body>
        <h1>All Clubs</h1>
        <table>
            <tr><th>Clubs</th></tr>
            {% for club in clubs %}
            <tr><td>
                <a href="/clubs?id={{club['club_id']}}">{{club['name']}}</a>
            </td></tr>
            {% endfor %}
        </table>
    </body>
    
    {% elif picked == 'yes' %}
    
    <body>
        <h1>{{club['name']}}</h1>
        <table>
            <tr><th>Members</th></tr>
            {% for member in members %}
            <tr><td>
                {{member['name']}}
            </td></tr>
            {% endfor %}
        </table>
        <a href="/clubs/add_member?id={{club['club_id']}}">Add Member</a><br />
    </body>
    
    {% endif %}
</html>